@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

// đặt biến
:root {
    --primary: #FE2C55;
}

* {
    box-sizing: border-box;
}

// html
html {
    font-size: 62.5%;
}

//body 
body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
}